// ::selection {
//     background-color: $clr1;
//     color: $clr3;
// }

* {
    box-sizing: border-box;
}

// html { 

// }

body {
    margin: 0;
    background-color: rgb(240, 236, 236);
    font-family: Roboto-Regular;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0 0 1rem;
}

// h1 {

// }

// h2 {

// }

// h3 {

// }

img {
    width: 100%;
}

// p {

// }

// .btn {

// }

